
  <div>
    <p>Pipes Example</p>
    <h1>{{ serverElements | json}}</h1>
    <h1>{{ title | titlecase}}</h1>
  
    <p>---------Current Date-------{{currentDate}}</p>
    
    <h2>{{currentDate | date:'longDate'}}</h2>
    <h2>{{currentDate | date:'fullDate'}}</h2>
    <h2>{{currentDate | date:'shortTime'}}</h2>
    <h2>{{currentDate | date:'dd/mm/yyyy'}}</h2>
    <h4>{{3.12134 | number:'1.0-4'}}</h4>
    <p>slice pipe</p>
    <p>{{[1,2,34,33,43,1,2,4,5,6,7] | slice :0:3}}</p>
  <p>percent pipe</p>
  <p>{{0.32222 | percent:'3.0-1'}}</p>
  <p>Upper pipe {{title | uppperpipe}}</p>
  </div>
  <input type="text"  [ngModel]="title" (ngModelChange)="title=$event">
  <p>{{title}}</p>
  <input type="text"  [(ngModel)]="title2">
  <p>{{title2}}</p>
  <app-detail  [boxItemIn]="boxItems"></app-detail>
  
  <form #templateFormExample="ngForm" (ngSubmit)="fomrSubmitExample(templateFormExample)">
    <label for="name">name</label>
    <input type="text" name="name" ngModel id="name">
    <label for="surname">surname</label>
    <input type="text" name="surname" ngModel id="surname">
    <button class="btn btn-primary" type="submit">Form Added</button>
  
    <div *ngFor="let item of genderMenu">
  
      <input type="radio" 
             name="gender" 
             value="item.genderName"
             (ngModelChange)="genderChange($event)">
  
    </div>
  </form>