<div class="container">
  <div class="row">
    <form [formGroup]="pformUser"
          (ngSubmit)="onSaveUser()">
      <div class="form-group">
        <label for="name">User Project</label>
        <input type="text"
               id="name"
               formControlName="projectName"
               class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email"
               id="email"
               formControlName="email"
               class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Status</label>
        <select id="status"
                formControlName="projectStatus"
                class="form-control">
          <option value="stable">Stable</option>    
          <option value="critical">Critical</option>    
          <option value="finished">Finished</option>    
        </select>
      </div>
      <button class="btn btn-primary" 
              type="submit">Create Project</button>
    </form>
  </div>
</div>